* {
  box-sizing: border-box;
}

.app-container{
  display: flex;
  flex-flow: column;
  width:100%;
  min-height: 100vh;
}

.particles {
  position: fixed;
  top:0;
  left: 0;
  right:0;
  bottom:0;
  z-index: -1;
}

.content-container {
  flex: 1;

  @media (max-width: 600px) {
    align-items: center;
    justify-content: center;
  }
}
