.mobile-menu {
  position: fixed;
  width: 280px;
  max-width: 70%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 200;
  background-color: #fff;
  padding: 32px 16px;
  box-sizing: border-box;
  transition: transform 0.3s ease-out;

  @media(min-width: 630px) {
    display: none;
  }

  .logo {
    transform: translateX(70px);
    height: 11%;
    width: 20%;
    margin-bottom: 32px;
  }

}


.open {
  transform: translateX(0);
}

.closed {
  transform: translateX(-100%);
}
