i {
  margin-left: 15px;
  margin-right: 15px;
  display: inline-block;
  text-align: center;
  font-size: 2.5rem;
  color: rgba(0,0,0,0.9);
  transition: all .2s ease-out;

  &:hover {
    color: rgba(0,0,0,0.5);
  }

}

.contact-list {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;

}