.container {
  width: 90%;
  margin: 100px 100px;
  height: 100%;
}

h2 {
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 200;
  text-shadow: 2px 2px 1px rgba(0,0,0,0.7);
}

.description {
  margin-top: 3rem;
  text-align: center;
  display: block;
  font-size: 2rem;
  font-weight: 300;
}